<ul class="listaEstudiantes">
    <li *ngFor="let estudiante of listaEstudiante" [ngClass]="estudiante.estado ? 'activo' : 'inactivo'">
        {{estudiante.nombre }}
        <button class="botonActivarEstado" *ngIf="estudiante.estado == false">Activar</button>
    </li>
</ul>

<div [ngSwitch]="estudianteActual.nombre">
    <div *ngSwitchCase="'Julian'">Julian se encuentra en la plataforma</div>
    <div *ngSwitchCase="'Ana'">Ana se encuentra en la plataforma</div>
    <div *ngSwitchDefault>Otro usuario se encuentra en la plataforma</div>
</div>