<div class="content-area">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/bici.png" class="card-img-top" alt="bici">
        <div class="card-body">
            <h5 class="card-title">Bicicleta Mtb Totem By Topmega R29 21v Disco,susp. V/colores</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/bici2.png" class="card-img-top" alt="bici2">
        <div class="card-body">
            <h5 class="card-title">Mountain bike TopMega Regal R29 M 21v frenos de disco mecánico cambios Sensah MX7
                color naranja</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/bici3.png" class="card-img-top" alt="bici3">
        <div class="card-body">
            <h5 class="card-title">Mountain bike Olmo Wish 290 18" 21v frenos de disco mecánico cambios Shimano Tourney
                TY300 color negro/naranja</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>